body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--main-body-color);
  font-size: 14px;
  background-color: var(--background-white-color);
}
.list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
