:root {
  --background-white-color: #fff;
  --accent-blue-color: #2196f3;
  --text-link-color: #212121;
  --logo-black-color: #000000;
  --hero-white-color: #fff;
  --background-hero-color: #2f303a; /*тимчасово*/
  --main-body-color: #757575;
  --btn-black-color: #212121;
  --btn-back-color: #2196f3;
  --btn-white-color: #fff;
  --header-link-color: #212121;
  --personal-back-color: #f5f4fa;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --footer-text-white: #fff;
  --portfolio-btn-background-color: #f5f4fa;
  --portfolio-btn-txt-color: #212121;
  --btn-back-hover-color: #188ce8;
  --card-back-personal-color: #fff;
  --card-back-portfolio-color: #fff;
  --icon-color-back: #afb1b8;
  --footer-icon-color: #ffffff;
  --footer-icon-back: rgba(255, 255, 255, 0.1);
  --border-client-icon: #afb1b8;
  --client-icon: #afb1b8;
  --background-benefits-icon: #f5f4fa;
  --back-inform-text-color: rgba(47, 48, 58, 0.8);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --backdrop-back-color: rgba(0, 0, 0, 0.2);
  --moadal-title-color: #212121;
}
