.navigation__list {
  // display: flex;
  align-items: center;
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.navigation__list,
.navigation__item + .navigation__item {
  gap: 50px;
}

.header__logo {
  display: inline;
  // margin-right: 93px;
  color: var(--logo-black-color);
  padding-top: 16px;
  padding-bottom: 16px;
  & span {
    color: var(--accent-blue-color);
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
.logo {
  font-family: 'Raleway', sans-serif;
  @include font(700, 26px, 1.19, null);
}

.header__container {
  display: flex;
  // align-items: center;
  // justify-content: center;
  @media screen and (min-width: 768px) {
    align-items: center;
    justify-content: center;
  }
}
.connect__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  fill: currentColor;
}
.menu-open-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  color: #212121;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  color: #212121;
}
.menu-close-btn:focus,
.menu-open-btn:focus {
  fill: #2196f3;
}
.header__text {
  @include font(500, 14px, 1.14, 0.02em);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-blue-color);
  }
}

.navigation__link {
  position: relative;
  display: block;
  color: var(--header-link-color);
  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header__connect {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
  }
}
.connect {
  margin-left: auto;
  display: none;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.connect__link {
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 768px) {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.connect__contact {
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}
.connect .connect__contact + .connect__contact {
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}
.connect__mail,
.connect__tel {
  color: var(--main-body-color);
  fill: var(--main-body-color);
}
// .icon,
// .header__logo
.icon {
  margin-right: 10px;
}

.current {
  color: var(--accent-blue-color);

  // &::after {
  //   content: '';
  //   position: absolute;
  //   left: 0;
  //   bottom: 0;
  //   display: block;
  //   width: 100%;
  //   height: 4px;
  //   border-radius: 2px;
  //   background: var(--accent-blue-color);
  @media screen and (min-width: 768px) {
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background: var(--accent-blue-color);
    }
  }
}
.header-portfolio {
  border-bottom: 1px solid #ececec;
}
.mob-menu {
  position: fixed;
  background: #ffffff;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.menu-container {
  display: flex;
  flex-direction: column;
  padding: 48px 40px;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mob-menu__navigation-item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-menu__navigation__link {
  // @include font(500, 40px, 1.17, 0.02em);
  display: inline-flex;
  align-items: center;
  color: #212121;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  padding: 0;
  color: #212121;
}
.current {
  color: #2196f3;
}
.mob-connect__connect-contact {
  margin-bottom: 32px;
}
.mob-connect__connect-link-mobil {
  @include font(500, 34px, 1.17, 0.02em);
}
.mob-connect__connect-contact-mail {
  @include font(500, 24px, 1.17, 0.02em);
  color: #757575;
  margin-bottom: 64px;
}
.mob-soc-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.mob-soc-link {
  @include font(null, 18px, 1.22, 0.02em);
  color: #2196f3;
  margin-right: 10px;
}
.mob-soc-item:not(:last-child):after {
  content: '';
  border: 1px solid rgba(33, 33, 33, 0.2);
}
