.personal__container {
  background-color: var(--personal-back-color);
}
.card-list {
  display: flex;
  column-gap: 30px;
}
.card-list__item {
  width: calc((100% - 90px) / 4);
  max-width: 100%;
  height: auto;

  background: var(--card-back-personal-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.card-list__wrap {
  padding: 30px 0;
}
.card-list__name {
  margin-bottom: 10px;
  text-align: center;
  @include font(500, 16px, 1.18, null);
  color: var(--text-link-color);
}
.card-list__text {
  text-align: center;
  @include font(null, 16px, 1.18, null);

  margin-bottom: 16px;
}
.personal__title {
  margin-bottom: 50px;
}
.media {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.media__link {
  @extend %flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--border-client-icon);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-blue-color);
    color: var(--btn-white-color);
  }
}
.media__icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}
