.header-portfolio {
  border-bottom: 1px solid #ececec;
}
.porfolio-list-button {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  // margin-left: auto;
  // margin-right: auto;
  margin-bottom: 50px;
  gap: 8px;
  row-gap: 15px;
}
/* .porfolio-list-button > .porfolio-item:not(:last-child) {
  margin-right: 8px;
} */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.portfolio-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.portfolio-item-after {
  // width: calc((100% - 60px) / 3);
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);

    @media screen and (min-width: 1200px) {
      width: calc((100% - 60px) / 3);
    }
  }
}

.portfolio-card {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}
.portfolio-title {
  margin-bottom: 4px;
  @include font(700, 18px, 2, 0.06em);
  color: var(--text-link-color);
}
.portfolio-text {
  @include font(null, 16px, 1.88, null);
  color: var(--main-body-color);
}

.portfolio-button {
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  @include font(500, 16px, 1.62, 0.03em);
  background-color: var(--portfolio-btn-background-color);
  color: var(--portfolio-btn-txt-color);
  transition-property: color, box-shadow, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--btn-back-color);
    color: var(--btn-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio-current {
  background-color: var(--accent-blue-color);
  color: var(--btn-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.porfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 63px 24px;
  @include font(null, 18px, 1.55, null);
  color: var(--btn-white-color);
  background: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .portfolio-thumb:hover & {
    transform: translateY(0%);
  }
}
.portfolio-link:hover .porfolio-overlay,
.portfolio-link:focus .porfolio-overlay {
  transform: translateY(0%);
}
